body {
  position: relative;
  overflow: hidden;
  font-family: "Caveat";
}

#particles-js {
  position: relative;
  height: 100vh;
  width: 100vw;
  color: #e01e5b;
}

.center {
  font-size: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.footer {
  width: fit-content;
  font-size: 16px;
  top: 90%;
  right: 1%;
  position: absolute;
}

#start {
  width: 100px;
  height: 150px;
  transform: scale(0.5);
  animation-duration: 2s;
  animation-name: beat;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  position: absolute;
  top: 0px;
  left: 70px;
}

#start img {
  width: 100px;
  height: 150px;
  color: red;
}

#start p {
  font-size: 16px;
  position: absolute;
  top: 50px;
  left: 25px;
  color: white;
}

#message {
  width: 250px;
  font-size: 20px;
  transition: 1s ease;
  text-align: justify;
  transform: scale(0);
  opacity: 0;
}

@keyframes beat {
  0% {
    transform: scale(0.5);
  }

  50% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.5);
  }
}
